/* Tailwind */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	prefersdark: true;
	themes: caramellatte --default, night --prefersdark;
	root: ":root";
	prefix: "";
	include: button;
	logs: true;
}

/* Fonts */
@font-face {
	font-family: "PTSans-Regular";
	src: url("/fonts/PTSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "PTSans-Bold";
	src: url("/fonts/PTSans-Bold.ttf") format("truetype");
	font-style: bold;
	font-display: swap;
}

/* Tailwind theme */
@theme {
	--font-sans: "PTSans-Regular", sans-serif;
	--font-bold: "PTSans-Bold", sans-serif;
}
