---
import Link from "./Link.astro";

// Constants
import { SITE_TITLE } from "../consts";
---
<header>
	<!-- Navigation bar -->
	<nav class="flex justify-between items-center pt-2 pb-2 pl-4 pr-4">
		<h2>
			<a href="/">{SITE_TITLE}</a>
		</h2>
		<div>
			<Link href="/">Home</Link>
			<Link href="/blog">Blog</Link>
		</div>
	</nav>
</header>
